<h1 style="text-align: center;">Angular Template Driven Forms</h1>
<div class="registerForm">
  <form action="" (ngSubmit)="onSubmit(myform)" #myform="ngForm">
<!-- formGroupStart -->


    <div ngModelGroup="personalDetails" #personalDetails="ngModelGroup">
      <label for="firstName"></label>Enter your name
      <input type="text" name="firstName" id="firstName" placeholder="Your name" ngModel required #fname="ngModel"><br>
      <!-- <div>
        <small style="margin-left: 20px;color: red;" *ngIf="fname.invalid && fname.touched">First name is required</small>
      </div><br> -->
      <!-- <p *ngIf="firstName">You Entered:{{firstName}}</p><br> -->
      <label for="age"></label>Enter your age
      <input type="text" name="age" id="age" ngModel required><br><br>
      <label for="email"></label> Enter your email 
       <input type="email" name="email" id="email" ngModel required email #mail="ngModel"><br>
       <!-- <div>
        <small style="color: red; margin-left: 20px;" *ngIf="mail.invalid && mail.touched"><sup>*</sup>Email should include @gmail.com</small>
       </div><br> -->
       <div>
        <small *ngIf="personalDetails.invalid && personalDetails.touched" style="color: red;">Some of these required fields is missing</small>
       </div>
       <button (click)="setDefaultValues()">Set Defualt Value</button>
    </div>


   <!-- formGroupEnd -->


     <label for="gender">Gender
      <input type="radio" name="gender" value="Male" ngModel>Male
      <input type="radio" name="gender" value="Female" ngModel>Female
      <input type="radio" name="gender" value="Other" ngModel>Other<br><br>
    </label>
     <label for="city"></label>Select your city
     <select name="city" id="city" [ngModel]="defaultCity">
      <!-- <option value="">Select</option> -->
      <option value="chennai">Chennai</option>
      <option value="ariyalur">Ariyalur</option>
      <option value="trichy">Trichy</option>
      <option value="madurai">Madurai</option>
     </select><br><br>
     <label for="hobbies">Write about your Hobby <br><br>
      <textarea name="hobbies" id="hobbies" cols="30" rows="10" ngModel></textarea>
     </label><br><br>
     <label for="location">Location:</label>
     <span *ngFor="let loc of workLocation">
      <input type="radio" name="location" id="{{loc.id}}" value="{{loc.value}}" [ngModel]="defaultLocation">
      <label for="{{loc.value}}">{{loc.value}}</label>
     </span>
     


    <input type="submit" name="submit" id="button" >
  </form>
  
</div>
<div class="fromForm">
  <h1>Name:{{firstName}}</h1>
  <p>Age:{{age}}</p>
  <p>Email:{{email}}</p>
  <p>Gender:{{gender}}</p>
  <p>City:{{city}}</p>
  <p>Hobbies:{{hobbies}}</p>
  <p>Location:{{location}}</p>
</div>
<!-- [disabled]="!myform.valid" -->